html,body {
     text-rendering:optimizeLegibility;
     text-align: left;
     text-shadow: 2px 2px #000000;
}
 body {
     background: #1e1e1e;
     background-size: cover;
     text-align: left;
}
 summary {
     color:darkseagreen;
     cursor:pointer;
     float:left;
}
 a {
     text-rendering:optimizeLegibility;
     font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
     color:darkseagreen;
}
 a:hover {
     color:white;
}
 p,h1,h2,h3,details,summary,sup {
     text-rendering:optimizeLegibility;
     font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
     color:white;
}
 sup.undermaintext {
     margin-left:104px;
     text-decoration:none;
     text-decoration-color:transparent;
}
 p {
     text-rendering:optimizeLegibility;
     font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
     color:white;
     margin:2px;
     padding:3px;
     line-height:22px;
     padding-top:4px;
}
 div.holderbox {
     background-color:#181818;
     border-radius: 8px;
     padding:5px;
     margin:5px;
     max-width:722px;
     max-height:auto;
     min-height:404px;
     margin: 0 auto;
     vertical-align:top;
     margin-top:128px;
}
 details {
     vertical-align:top;
     padding:0px;
     margin:0px;
     line-height:0px;
}
 br {
     content: "A" !important;
     display: block !important;
     margin-bottom: 0px !important;
}
 hr {
     content: "A" !important;
     display: block !important;
     margin-bottom: 8px !important;
     color:transparent;
     text-decoration-color:transparent;
     height:0px;
     width:0px;
     max-height:0px;
     max-width:0px;
     min-height:0px;
     min-width:0px;
}
 .noviolink {
     text-rendering:optimizeLegibility;
     font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
     margin:2px;
     padding:3px;
     line-height:84px;
     padding-top:4px;
     text-decoration:none;
     text-decoration-color:transparent;
     height:auto;
     vertical-align: middle;
     margin-bottom:32px;
     display:inline;
     border: 1px solid lightslategray;
     border-radius: 64px;
     opacity:0.92;
}
 .noviolinkimage {
     margin:2px;
     padding:3px;
     line-height:22px;
     text-decoration:none;
     text-decoration-color:transparent;
     height:auto;
     width:64px;
     display:inline;
     vertical-align: middle;
     opacity:0.9;
     border-radius: 64px;
}
 .noviolinkhref {
     text-rendering:optimizeLegibility;
     font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
     margin:2px;
     padding:3px;
     padding-top:4px;
     text-decoration:none;
     text-decoration-color:transparent;
     height:auto;
     vertical-align: top;
     padding-top:-32px;
     display:inline;
     opacity:0.9;
     border-radius: 64px;
}
 i.censor {
     background-color:black;
     color:black;
     border:1px solid dimgrey;
     font-style: normal;
}
 div.footer {
     margin-top: 100px;
     vertical-align:bottom;
     text-align: left;
     bottom:0;
     position:static;
     display:inline-block;
}
 .footer:hover {
     color:white;
}
 img.headerpfp {
     width:auto;
     height:84px;
     border-radius: 84px;
     float:left;
     padding: 0px;
     margin:5px;
     margin-right:32px;
}
 .noviolinkhref:hover {
     opacity:1;
     color:white;
}
 .noviolinkimage:hover {
     opacity:1;
}
 .noviolink:hover {
     opacity:1;
}
 .copy {
     color: transparent;
     text-shadow: 0 0 0 white;
}
 .mainboldtext {
     padding:10px;
     margin:10px;
}
 #bubblelinks {
     display: inline-block;
     list-style-type: none;
     width:auto;
     text-align: left;
     height:64px;
     min-height:64px;
     max-height:64px;
     vertical-align:top;
     margin: 0 auto;
}
 sub {
     line-height:10px;
     height:10px;
}
 .badgeholder {
     display:inline;
     float: left;
     top:0;
     left:0;
     position:static;
     line-height:64px;
}
 .badge {
     display:inline-block;
     float:right;
     width:auto;
     height:48px;
     border:1px solid transparent;
     opacity: 0.9;
     position:relative;
     margin-top:-32px;
     vertical-align:bottom;
     line-height:64px;
}
 .badge:hover {
     opacity:1;
}
 .nav {
     display:inline;
     border: 1px solid transparent;
     font-size:18px;
     letter-spacing:1px;
     padding:2px;
     position:absolute;
}
 .navitem {
     display:inline;
     border: 1px solid transparent;
     font-size:18px;
     letter-spacing:0px;
     padding:2px;
     background-color:transparent;
}
 .noviheart {
     position:static;
     display:inline;
     padding-top:5px;
     padding-bottom:5px;
     padding-right:5px;
     padding-left:5px;
     margin-top:5px;
     margin-bottom:5px;
     margin-left:5px;
     margin-right:5px;
     top:0;
     left:0;
}
 .hovertextreadmore {
     color:white;
     text-decoration-color:white;
     text-decoration:underline;
     text-decoration-style:dotted;
}
 .pawbs {
     filter: grayscale(100%);
     font-size:32px;
     filter: invert(80%);
     filter: sepia(80%);
     filter: brightness(200%);
     float:right;
}
 .reminderhovr {
     float:right;
     font-size: 14px;
     vertical-align: top;
     color:gray;
     text-decoration-color: gray;
     text-decoration: none;
}
 .versionnum {
     display:absolute;
     position:absolute;
     z-index: 999999;
     color:yellow;
     text-shadow: -1px 1px 0 red, 1px 1px 0 red, 1px -1px 0 red;
     -1px -1px 0 red;
}
 blockquote {
     text-rendering:optimizeLegibility;
     font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
     color:white;
}

